<h3>Mayit proyecto</h3>
<h1>Articlesmy</h1>
<ul>
  <li>
     <%= link_to('Moverse a Lista de  carros', cars_path) %>
  </li>
  <li>
     <%= link_to('Moverse a Saludos Hellos', hellos_path) %>
  </li>
  <li> <%= link_to('Dirigirse a mayita', mayita_path) %> </li>
  <%= link_to('Moverse a Lista de  motos', motos_path) %>
  
  <li> PRUEBA1</li>
    <li> chequeo en artcls a las:</li>
 <p>artcinxL15 fechcom: <%= Time.now %> directamente en artclsinx </p>

<li> PRUEBA2</li>
<p> pppr  <%= @fch__ %> </p>
<p> messs  <%=  @mthhhh %> </p>
<p> bscbxzc <%= @zxy %> </p>
<p> bcbnn <%= @fch__ %> </p>
<h2> article  index </h2>







