<li> <%= link_to('Dirigirse a mayita', mayita_path) %> </li>>
<li> <%= link_to('Dirigirse a cars', cars_path) %> </li>>
<h3> Linea 3 Estamos en view>hellos>Festv.html.erb </h3>
 <p> <h2>Ln4 Dia  <%=  + @dd_s  + "   es " + @dh.to_s  %> </p> </h2>
<p> "Desde hellos Línea 5:"+<%= @tls %> + "Chequeo en festv"</p>
#L6redirect_to motos_path
<p>#L7 Línea 7fest__<p>
<p>#L8pLínea 8fest__</p>
<h2>"Desde hellos Línea 9:"+ <%= @tls %> </p> </h2>
L10De Ln4  @dd_s + "   es " + @dh.to_s 
<li> <%= link_to('motos', motos_path) %> </li>
 <li> <%= link_to('mayita', mayita_path) %> </li>
 <li> <%= link_to('cars', cars_path) %> </li>
 <li> <%= link_to('car s', cars_path) %> </li>
 

