new datos
<br> ...  </br>
#id no cambiaBLE_(new.h.e)___License_plate_____________m o d e l o _______________color
#<%= form_for :car, url: cars_path, method: :post do |g| %> 
  #<%= g.number_field :id, d 'id' %>
  #<%= g.text_field :datouno, placeholder: 'placa license_plate' %>
 # <%= g.number_field :datodos, placeholder: 'model O' %>
  #<%= g.text_field :datotres, placeholder: 'tint COLOR' %>
 # <%= g.submit 'Save en Lista Carros' %>
#<% end %>

<div>
  <%=link_to 'f r o m   newHTMLerb Ir a listado de carros', cars_path %>
</div>
####
#para crear formulario form_for en edit y new html.erb

#<%= form_for @book do |f| %>
# aca van los campos o columnas del formulario
#<% end %>
#


#<%= form_tag ("/search", method: "get") do %>
# <%= label tag(:q "Search for:") %>
# <%= text_field_tag(:q) %>
# <%= submit_tag("Search") %>
# <% end %>